<!DOCTYPE html>
<html lang="vi-VN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Website FTU sinh vien Ngoai thuong" />
    <meta name="keywords" content="FTU,Ngoai Thuong,Ngoại thương, Sổ tay sinh viên, Sinh viên" />
    <!-- <meta name="robots" content="max-snippet:-1, max-image-preview:large" /> -->

    <meta name="author" content="AIS Soft" />
    <title>Sổ tay FTU</title>
    <link rel="shortcut icon" type="image/jpg" href="../../public/icons/favicon.ico" />

    <!-- <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" /> -->
    <meta property="og:image" content="/logo.jpg" />
    <meta
      property="og:description"
      content="FTU tự hào với các giá trị cốt lõi: Chất lượng - Hiệu quả - Uy tín - Chuyên nghiệp - Hiện đại"
      data-react-helmet="true"
    />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Sổ tay trường Đại học Ngoại Thương"
      data-react-helmet="true"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CXDKWYY8Y4"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-CXDKWYY8Y4');
    </script>
    <script src="/tiny/tinymce/tinymce.min.js"></script>
  </head>

  <body>
    <noscript>Xin lỗi, chúng tôi cần trình duyệt của bạn chạy Javascript</noscript>
    <div id="root"></div>
  </body>
</html>
