.button_back {
}

.button_next,
.button_next:hover,
.button_next:focus {
  background: #cc0d00;
}

.helper_text {
  height: 20px;
}

.form2c {
  :global {
    // .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    //   background: white;
    // }
  }
}

.form2c_form1 * {
  font-size: 16px;
}
.form2c_form2 * {
  font-size: 16px;
}
.form2c_form3 * {
  font-size: 16px;
}

.form2c_form1 {
  .card_form1 {
    margin-bottom: 8px;
  }
  .card_form1 * {
    font-size: 16px;
  }

  .form_lai_lich {
    margin: 17px 0 0 0;
  }

  .text_black {
    color: black;
  }

  .set_margin_20 {
    margin-top: 20px;
  }

  .textarea_addon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    height: 100%;
    background: #f0f2f5;
    justify-items: center;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  .form2c_table_input {
    text-align: center;
    border: black;
    outline: none;
    height: 100%;
    resize: none;
    border-bottom: #001529;
  }
  .form2c_table_input:focus {
    border-radius: 0;
  }

  .form2c_input_addon {
    height: 136px;
  }
  .textarea {
    height: 100%;
    resize: none;
    padding: 20px 16px 20px 16px;
  }
  .h_100 {
    height: 100%;
  }
}
.turn_off_hover:hover {
  border: none;
}

.form2c_form2 {
  :global {
    .ant-table-thead {
      tr {
        th {
          background-color: #001529;
          color: white;
          text-align: center;
        }
      }
    }
    td {
      height: 112px;
      padding: 10px;
    }
    tbody .ant-table-row-cell-break-word {
      padding: 0;
    }
    .ant-table-tbody > tr.ant-table-row-level-0:hover > td {
      background: unset;
    }
    .ant-table-tbody td {
      padding: 10px;
    }
  }

  .form2c_table_input {
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    outline: none;
    border: none;
    height: 100%;
    resize: none;
    border-radius: 0;
  }
  .form2c_table_input:focus {
    box-shadow: none;
  }
}

.form2c_form3 {
  :global {
    .ant-table-thead {
      tr {
        th {
          background-color: #001529;
          color: white;
          text-align: center;
        }
      }
    }
    .ant-input-group {
      display: flex;
      justify-content: center;
    }
    .ant-table-tbody > tr.ant-table-row-level-0:hover > td {
      background: unset;
    }
    td {
      height: 112px;
    }
    tbody .ant-table-row-cell-break-word {
      padding: 0;
    }
    .ant-table-tbody td {
      padding: 10px;
    }
  }
  .form2c_table_input {
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    outline: none;
    border: none;
    height: 100%;
    resize: none;
    border-radius: 0;
  }
  .form2c_table_input:focus {
    box-shadow: none;
    background: none;
  }
  .input_date {
    border: none;
    min-width: 12px;
    max-width: 32px;
    padding: 0;
  }
  .input_date:focus {
    box-shadow: none;
  }
  .input_split {
    background: white;
    border: none;
    padding: 0;
    width: 9px;
    color: black;
  }
  .input_split::placeholder {
    color: black;
  }
}


.form2c_form4 {
  :global {
    .ant-table-thead {
      tr {
        th {
          background-color: #001529;
          color: white;
          text-align: center;
        }
      }
    }
    .ant-input-group {
      display: flex;
      justify-content: center;
    }
    .ant-table-tbody > tr.ant-table-row-level-0:hover > td {
      background: unset;
    }
    td {
      height: 112px;
    }
    tbody .ant-table-row-cell-break-word {
      padding: 0;
    }
    .ant-table-tbody td {
      padding: 10px;
    }
  }
  .form2c_table_input {
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    outline: none;
    border: none;
    height: 100%;
    resize: none;
    border-radius: 0;
  }
  .form2c_table_input:focus {
    box-shadow: none;
    background: none;
  }
  .input_date {
    border: none;
    min-width: 12px;
    max-width: 32px;
    padding: 0;
  }
  .input_date:focus {
    box-shadow: none;
  }
  .input_split {
    background: white;
    border: none;
    padding: 0;
    width: 9px;
    color: black;
  }
  .input_split::placeholder {
    color: black;
  }
  .table_vertical {

  }
}

.position_relative {
  position: relative;
}

.outside_button_delete {
  position: absolute;
  bottom: 10px;
  right: -60px;
  border: none;
  box-shadow: none;
  font-size: 30px;
}

.red_button {
  color: #cc0d00;
  background: rgba(235, 87, 87, 0.1);
  border: none;
}
.red_button:hover {
  color: #cc0d00;
  background: rgba(235, 87, 87, 0.1);
  border: none;
}
.red_button:focus {
  color: #cc0d00;
  background: rgba(235, 87, 87, 0.1);
  border: none;
}
.form2c_label {
  display: flex;
  justify-content: space-between;
}

.form2c_title_form {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.form2c_name_form {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  /* line-height: 28px; */
}

.form2c_input_dropdown {
  /* max-height: 44px; */
  overflow: inherit;
}

.form2c_red_text {
  color: red;
}
.w_100 {
  width: 100%;
}
